{% extends 'main.html' %}
{% load static %}
{% block content %}

<h1>Health</h1>
<h3>BEGINNER'S GUIDE TO WEIGHT LOSS - Part 1</h3>
<p>Weight loss is the most sought out topic around the world.</p>

<p>Normally, at the onset of weight loss, it is very difficult and confusing to determine exactly where to begin from going onto a diet usually pops up but as we all know, Most diets do not work for two reasons:
    <p>(a) They are not sustainable as you cannot do them your entire life.</p>
    <p>(b) Most diet plauces are not tailor-made to individual situations and circumstances.</p>
</p>

<p>The things point to consider as you plan for weight:
    <p>1. A plan is very important going into a weight loss journey without planning will be a failure. Weight los should be sustainable and life changing for a more healthier life. This will ensure consistency and permanency. There is no one who intends to bounce back and add all calories lost by engaging in a temporary plan.</p>
    <p>2. Your plan should include a few items like:</p>
        <p>(a) What is your goal. Everyone has weight they would like to attain or maintain. What is your weight loss goal?</p>
        <p>(b) What is triggering your weight loss change? Is it sickness,your general physical image or even desire to live a healthier life style. Basically, why do you so badly desire to lose weight.</p>
        <p>(c) Sustainability. A weight loss plan is just a plan with a beginning and an end when you have achieved your goals. But your plan must be sustainable after achieving the goal.</p>
        <p>(d) Patience. This is a key consideration. Gaining weight is not just in a click of finger. Same applies to weight loss. Be patient and kind to yourself and sooner you shall start noticing and seeing results. Even when you feel like the change is of a snails speed,consistency is key for life long result.</p>
    <p>3. There is a lot of information about weight loss that guarantees you a guide to weight loss. Let me disappoint you,there are extreme situations that don't last and may create very unhealthy habits. At the very least if it is straveous,do not engage in it. There is a lot of consideration like,Environmental,Availability of foods,individual daily schedules,kind of work you do name it.</p>
    <p>4. As a beginner, it is important to note that to diet may not achieve you a lot of results. Your body is accustomed to an intake and dieting to deprive yourself of your favorite foods is not only starving your body but will not be sustainable at all. In the next part of this series an explanation will be provided of best way possible for a sustainable weight loss journey since it is very hard to maintain diet that deprives you of foods you love.</p>
    <p>5. Another important thing as a beginner is to keep it simple. Most diet plans require you to count calories. This is very unsustainable beginner approach as you will be required to measure your food.</p>
    <p>6. Having said the above,the more sustainable approach as a beginner is to restrict your feeding/eating period. In nutshell,intermittent fasting is the approach to use as a beginner before you move into more serious weight loss programs like dicting.</p>
    <p>7. It is also important to note that while beginning with weight loss,exercise is a key part to success. Exercise as a beginner does'nt have to be joining gym.If you can join a gym this will be good. However, exercise is can be as simple as just ensuring you are moving e.g take a walk,use stairs instead of lifts,cycle,hike. Try and identify what is best and comfortable for you before you push yourself too hard.</p>

</p>

<h3>BEGINNER'S GUIDE TO WEIGHT LOSS - Part 2</h3>
<p>Now that we have briefly explained the do's and don't's of a beginner's weight loss,let us now embark on how to begin more sustainable weight loss plan.</p>
<h4>Intermittent Fasting (IF)</h4>
<p>What is intermittent fasting? It is the process of restricting oneself from eating food for a set period of time in a day. IF deprives your body of calories within a window hence being the simplest way to control weight.</p>

<h4>Benefits of Intermittent Fasting</h4>
<p>(1) It does not require one to be specific on what you eat,remember you are a beginner and would like to gradually accustom your body to a more sustainable weight loss.</p>
<p>(2) It does not require you to count calories or even measure your quantity of food.</p>
<p>(3) It does not require you to follow a diet plan as a beginner.</p>
<p>(4) It will improve your body's insulin sensitivity. Insulin is a hormone in your body that assist to regulate the amount of glucose(sugar) in the blood. When you are overweight, the body cells clout respond at optimal to the insulin hormone and here reduces the glucose that enters your cells; as a result it will accumulate in your bloodstream leading ti diseases like diabetes.
    When yo do intermittent fasting, it significantly decreases your insulin resistance and have a better sugar control.
</p>
<p>(5) You will have reduced blood pressure, reduced body inflammation.</p>
<p>(6) Your body will begin to self heal by regeneration newer and healthier cells. This is also called autophagy. How will you know autophagy has started taking place?
        <p>(i) You will start experiencing reduced appetite.</p>
        <p>(ii) Improved breath.</p>
        <p>(iii) Less and less fatigue within the day.</p>
        <p>(iv) Improved brain function.</p>
</p>
<p>(7) Intermittent fasting also helps weight loss. When you fast your body lacks the carbohydrates it needs in energy. So it starts utilizing the stored fat in your body. This fat is converted back to energy and hence significant weight loss.</p>
<h4>Types of Intermittent Fasting</h4>
<p>There are many types of intermittent fasting i.e:
    <p>(a) Time restricting.</p>
    <p>(b) One meal a day.</p>
    <p>(c) Alternate Day fasting.</p>
    <p>(d) 5:2 Diet.</p>
    <p>(e)Extended Fasting.</p>
</p>
<P>We shall talk about the best method of intermittent fasting in the next parts.</P>
<p>A point to note is that even if intermittent fasting is not a diet, you can get the most benefits if you try and eat natural and boiled foods most days. Please limit your intake of snacks and foods with processed ingredients. Your main meal should have carbohydrates,lots of vegetables and a protein. We shall later give examples of what a plate may constitute. friuts are also important but should be eaten at intervals after a meal. This is because the body uses different enzymes to digest different foods and optimal absorption of food nutrients requires eating different kinds of food at different times.</p>
<h3>BEGINNER'S GUIDE TO WEIGHT LOSS - Part 3</h3>
<p>Let us now discuss the different types of intermittent fasting. Later in part 4 we shall embark on the most effective type for a beginner.</p>
<p>In part 3 we talked about types of intermittent fasting:
    <p>Time Restricting.</p>
    <p>One Meal A Day (OMAD).</p>
    <p>Alternative Day Fasting.</p>
    <p>5:2 Diet.</p>
    <p>Extended Fasting.</p>
</p>
<h4>Time Restricting</h4>
<p>This is when you fast for a given period of time in 24hours. During this period, you don't eat any foods except for water, Unsweetened tea or coffee. Normally, the period is between 4 to 12 hours. The easiest way to ease into fasting is eating for 12 hours and then fasting the next 12 hours. Usually easier to fast overnight. The ideal situation is to finish dinner by 8 pm(2000hrs) and have your breakfast at 8 am(0800hrs)</p>
<p>To finish your meals before bedtime is important to give your stomach enough time to rest.</p>
<h4>16/8 Restricting</h4>
<p>Another one is a 16/8 hour restricting. Have your meals for 8 hours and fast for 16 hours. For example, eat your dinner early by 6pm and a late breakfast at 10 am or have your dinner at 8 pm and delay your next meal to 12 pm.</p>
<p>You will need to train your body to ignore hunger pangs by having water or unsweetened coffee or tea.</p>
<h4>18/6 Restricting</h4>
<p>Another time is 18 hours fast and eat 6 hours,have dinner by 6 pm and next meal at 12 pm the next day.</p>
<h4>12/10 Restricting</h4>
<p>Fast for 14 hours and eat your meals for the next 10 hours. For example,Finish dinner by 7 pm and have your next meal at 9  am.</p>
<p>Depending on your lifestyle, you can pick any of the above time restricting fasts. But for beginners it is more suitable to start with a 12/12 time fast as the fast is during sleep hours.</p>
<h4>One Meal A Day</h4>
<p>This entails eating window period of 2 hours at a given time and then fasting the next time by skipping breakfast and dinner. Make sure to finish this meal before going to bed. However, depending  on what works for you, you can choose what meal to skip. For example,as an individual in a family setting,eating dinner is more likely because you would like to share a meal with family members.</p>
<p>So select a time that works best for you. Also OMAD requires to work with experts like dictioun or nutritious or physical to ensure you ingest enough nutrients your body needs in that one meal.</p>
<p>This is beneficial to individuals who require to loose a lot of weight,trying to reverse diabetes type 2,at wise diseases like alzheimer's and transitioning from easier intermittent fasting like time restricts ones.</p>
<h4>Alternative Day Fasting</h4>
<p>Involves alternating between days of fasting and days of fasting. E.g Eat normally on monday upto 6 pm .Then follow with a fast on tuesday and take your next meal on wednesday from 6pm. Eat all your meals on wednesday lunch time hours and take dinner by 6 pm .Fast on thursday and take breakfast at 8 am on friday, all your meals on friday till 6pm.</p>
<h4>5:2 Diet</h4>
<p>Involves eating normally for five days in a week and fasting in the next two days.This helps individuals who have gone into obesity.On the two days of fasting,choose days you are not busy.Side expect help if you need to do this level and have health issues.</p>
<h4>Extended Fasting</h4>
<p>This involves going on a calorific deficit(Not eating) for upto 5 days. This requires serious medical monitoring and supervision.</p>
<p>This will assist with reduction of blood pressure,improved emotional and physical health,improving stomach health,reduction of weight,Unsweetened coffee or tea or water is allowed can be done with people who experience a stagnated weight loss problem.</p>
<p>So having explained above, a beginner is well suited to begin with a 12/12 time restricted fasting plan so as to gain consistency gradually.</p>
<p>as you begin,note that it is important to eat whole meals and avoid dieting. Be patient with yourself as our bodies interact differently.</p>


<h3>BEGINNER'S GUIDE TO WEIGHT LOSS - Part 4</h3>
<h4>Considerations During Fasting</h4>
<p>There are a few a must do things while you are fasting.This will ensure a healthy fasting process and long lasting solutions.So let us begin:
    <p>1. When fasting it is important to hydrate your body cells.However, it is also beneficial to drink water when you feel thirsty. Some people find it easier to keep seeping water occasionally.</p>
    <p>2. If you feel nauseated or dizzy,it is normal if it if mildly.However, if it persists,seek some medical help especially if you are suffering from any other health complications.This is to just check on your blood sugar or any other unknown issues.</p>
    <p>3. When breaking your fast,start with light foods like yoghurts,avocado,berry fruits etc.</p>
    <p>4. Learn to listen to your body. Start easy and be kind to your body and feelings.</p>
    <p>5. Eat a natural balanced meal during your eating window period.Do not over eat just eat to normal fill and train your stomach to eat just enough.This is very temptong at the beginning.</p>
    <p>6. Stick to eating times during eating window period. This will help you avoid over eating and train your body to reduced appetites.</p>
    <p>7. Eat lighter fiber and salty foods.We shall discuss a later section on list of foods to eat.</p>
    <p>8. Don't restrict calories. Consistency is key and this will improve your progress as cravings will kick in before your body is accustomed to the new lifestyle.</p>

</p>

<div class="row">
        {% for bakery in bakery %}
            <div class =col>

                <div class="card" style="width: 18rem;">
                    <img src="{{ bakery.Image.url }}" class="card-img-top" alt="..."/>
                    <div class="card-body">
                        <h5 class="card-title">{{bakery.Title }}</h5>
                        <p class="card-text">{{ bakery.Description|truncatewords:10 }}</p>
                        <a href="{% url 'single_bakery' bakery.id %}" class="btn btn-primary">Full Detail</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    
{% endblock content %}