{% extends 'main.html' %}
{% load static %}
{% block content %}

    <h3>Main Meals</h3>
    <div class="row">
        {% for meals in meals %}
            <div class =col>

                <div class="card" style="width: 18rem;">
                    <img src="{{ meals.Image.url }}" class="card-img-top" alt="..."/>
                    <div class="card-body">
                        <h5 class="card-title">{{meals.Title }}</h5>
                        <p class="card-text">{{ meals.Description|truncatewords:10 }}</p>
                        <a href="{% url 'single_meals' meals.id %}" class="btn btn-primary">Full Detail</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    
{% endblock content %}