{% extends 'main.html' %}
{% load static %}
{% block content %}

    <h3>Meat</h3>
    <div class="row">
        {% for meat in meat %}
            <div class =col>

                <div class="card" style="width: 18rem;">
                    <img src="{{ meat.Image.url }}" class="card-img-top" alt="..."/>
                    <div class="card-body">
                        <h5 class="card-title">{{meat.Title }}</h5>
                        <p class="card-text">{{ meat.Description }}|truncatewords:10 }}</p>
                        <a href="{% url 'single_meat' meat.id %}" class="btn btn-primary">Full Detail</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    
    
{% endblock content %}